{% extends "../common/iframbase.html" %}
{% block content %}
<div class="table-response">
  <table class="table table-bordered">
        <thead class="th">
            <th class="text-center">用户名称</th>
            <th class="text-center">用户编号</th>
            <th class="text-center">用户电话</th>
            <th class="text-center">用户角色</th>
            <th class="text-center">操作</th>
        </thead>
    <tbody>
      {% for staff in staffs %}
      <tr>
        <td class="text-center">{{staff.name}}</td>
        <td class="text-center">{{staff.no}}</td>
        <td class="text-center">{{staff.phone}}</td>
        <td class="text-center">
            {{staff.role[0].role_name}}
        </td>
        <td class="text-center">
          <a href="/admin/staff/edit?id={{staff._id}}">修改</a>
          <a href="/admin/staff/delete?id={{staff._id}}">删除</a>
        </td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>
{% endblock %}
